{% load static %}
<!DOCTYPE html>

<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>PDC - Settings</title>
	<style>
		@font-face {
			font-family: 'Josefin Sans';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url('{% static 'font/Josefin-Sans.woff2' %}') format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	</style>
	<link rel="stylesheet" href="{% static "css/index.css" %}?v=1.1">
</head>
<script type="module" src="/system/static/js/main.js"></script>
<body>
	<div class="header">
		<div class="header_right_container">
			<a class="header_right_container_back_button" href="/"></a>
			<p>Settings</p>
		</div>
	</div>
	<div>
		<div id="PDC-text">Personal Data Center</div>
		<p id="CONFIGURATION-text">Settings</p>
	</div>
	<div id="configuration-block-back">
		<div>
			<nav class="nav_tabs">
				<ul>
					<li>
						<input type="radio" name="tabs" class="radio_tabs" id="profile" checked>
						<label for="profile" id="border-radius-first">
							<p>Profile</p>
						</label>
						<div class="content">
							<div class="profile">
								<div class="profile_Picture_Username">
									<div class="profile_Picuture"></div>
									<img class="user_picture" src="{% static "img/user.png" %}" alt="">
									<p class="profile_Username">Username</p>
								</div>
								<a class="change_password"href="/authorizator/password_change/">Change password</a>
							</div>
						</div>
					</li>
					<li>
						<input type="radio" name="tabs" class="radio_tabs" id="users">
						<label for="users">
							<p>Users</p>
						</label>
						<div class="content">
							<div class="MANUTENCAO">
								Under construction
							</div>
						</div>
					</li>
					<li>
						<input type="radio" name="tabs" class="radio_tabs" id="services">
						<label for="services">
							<p>Services</p>
						</label>
						<div class="content">
							<div class="installed_services" id="installed_services">
							</div>
						</div>
					</li>
					<li>
						<input type="radio" name="tabs" class="radio_tabs" id="hardware">
						<label for="hardware">
							<p>Hardware</p>
						</label>
						<div class="content">
							<div class="MANUTENCAO">
								Under construction
							</div>
						</div>
					</li>
					<li>
						<input type="radio" name="tabs" class="radio_tabs" id="network">
						<label for="network" id="border-radius-last">
							<p>Network</p>
						</label>
						<div class="content">
							<div class="MANUTENCAO">
								Under construction
							</div>
						</div>
					</li>
				</ul>
			</nav>
			<div class="clear"></div>
		</div>
</body>

</html>
